<form
  class="w-[600px] py-8"
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-center text-3xl font-bold my-7">
    شكاية جديدة – المعلومات الشخصية
  </h1>

  <div class="mb-5 text-right">
    <label htmlFor="firstName" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :اسم
    </label>
    <input
      id="firstName"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="firstName"
      formControlName="firstName"
    />
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="lastName" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :النسب
    </label>
    <input
      id="lastName"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="lastName"
      formControlName="lastName"
    />
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="sex" class="font-bold text-2xl text-right">
      <span class="text-red-500">*</span>
      :الجنس
    </label>

    <div class="flex my-4">
      <input
        id="sex"
        class="w-full text-right"
        type="radio"
        name="gender"
        formControlName="gender"
        value="ذكر"
      />
      <span class="text-2xl">ذكر</span>
      <input
        id="sex"
        class="w-full text-right"
        type="radio"
        name="gender"
        formControlName="gender"
        value="أنثى"
      />
      <span class="text-2xl">أنثى</span>
    </div>
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="birthDate" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :تاريخ ازدياد
    </label>
    <input
      id="birthDate"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="birthDate"
      formControlName="birthDate"
      type="date"
    />
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="birthDateLocation" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :مكان ازدياد
    </label>
    <input
      id="birthDateLocation"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="birthDateLocation"
      formControlName="birthDateLocation"
    />
  </div>

  <div class="mb-5 text-right">
    <label htmlFor="villageLocation" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :الدوار
    </label>

    <select
      class="bg-gray-400 w-full h-14 text-2xl text-right"
      name="villageLocation"
      formControlName="villageLocation"
    >
      <option *ngFor="let village of villages" [value]="village">
        {{ village.name }}
      </option>
    </select>
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="compliantType" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :نوع شكاية
    </label>
    <input
      id="compliantType"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="compliantType"
      formControlName="compliantType"
    />
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="propertyOfCompliant" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :خصائص شكاية
    </label>
    <input
      id="propertyOfCompliant"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="propertyOfCompliant"
      formControlName="propertyOfCompliant"
    />
  </div>
  <div class="mb-5 text-right">
    <label htmlFor="compliantDetails" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :تفاصيل شكاية
    </label>
    <input
      id="compliantDetails"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="compliantDetails"
      formControlName="compliantDetails"
    />
  </div>
  <div class="text-right mb-8">
    <label htmlFor="possibleSolution" class="font-bold text-2xl">
      <span class="text-red-500">*</span>
      :التدابير المتخدة لمعالجة الشكاية
    </label>
    <input
      id="possibleSolution"
      class="bg-gray-400 w-full h-14 rounded-md p-4 text-2xl text-right"
      type="text"
      name="possibleSolution"
      formControlName="possibleSolution"
    />
  </div>
  <button
    type="submit"
    class="rounded-full w-full px-4 py-2 text-white text-center text-3xl bg-green-500 hover:bg-green-400 cursor-pointer"
  >
    إنشاء
  </button>
</form>
