<header class="bg-black p-4 text-white">
  <nav class="container mx-auto">
    <ul class="flex justify-end space-x-4 text-3xl">
      <li>
        <a routerLink="/new-compliant" class="hover:underline">شكاية جديدة</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container mx-auto">
  <h1 class="text-right font-bold text-3xl my-8">مرحباً,إسماعيل البقال</h1>
  <!-- <a routerLink="/detail">ALLER AU DÉTAIL</a> -->
  <div class="h-screen w-full flex items-center justify-center flex-col">
    <h2 class="font-bold text-5xl">بوابة الشكايات الخاصة بالمواطنين</h2>
    <p class="text-3xl">قيادة سكورة</p>
  </div>
</div>
